* {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
}

.header_block {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.navigation-block {
    width: 100%;
    position: sticky;
}

.gallery-block {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-card {
    width: 300px;
}

.product-card img {
    width: 100%;

}

.navigation-list {
    display: flex;
    justify-content: center;
}

.navigation-list > li {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}

.navigation-list > li:hover {
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
}