/* Global Styles */
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box; /* Consistent box sizing */
}

/* Title Block Styles */
.title-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Content Block Styles */
.content-block {
    display: block;
    width: 500px;
    margin: 70px auto;
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
    padding: 48px 48px 8px;
}

/* Input Styles */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

input:invalid,
input:invalid:required {
    border: 2px solid red;
}

/* Label Styles */
label {
    display: inline-block;
    text-align: right;
}

.label-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
}

.label-block p {
    margin: 0;
}

/* FormValidation Message Styles */
.validation-error-block,
.js-validation-message {
    color: red;
}

.js-validation-message {
    display: none;
}

/* Form Styles */
form {
    margin-bottom: 32px;
}

/* Button Styles */
.confirm-button {
    margin-top: 32px;
    padding: 8px 64px;
    border-radius: 16px;
    border: 2px solid black;
    background-color: white;
}

.confirm-button:hover {
    background-color: black;
    color: white;
}

/* Miscellaneous Styles */
.block-hidden {
    display: none;
}

.input-block,
.forgot-password-block {
    margin: 32px 0;
}

.two-inputs-in-one-row-block {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
