/* CSS Variables */
:root {
    --color-black: black;
    --color-white: white;
    --font-primary: 'Source Sans Pro', sans-serif;
    --font-secondary: 'Roboto Mono', monospace;
    --font-tertiary: 'Montserrat', sans-serif;
    --font-title: 'Raleway', sans-serif;
    --bg-color: #ffffff;
    --border-standard: 1px solid var(--color-black);
    --box-shadow-standard: 0 0 16px rgba(38, 38, 38, 0.16);
    --spacing-standard: 24px;
}

/* Global Styles */
a {
    background-color: transparent;
    text-decoration: none;
    color: var(--color-black); /* Default color for all anchors */
}

/* Invisible elements */
main,
.product-card,
.gallery-mechanic,
.gallery-block{
    display: none;
}

/* Header Styles */
header,
.header_block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: var(--border-standard);
}

.title-block {
    width: 80%;
    justify-content: center;
}

.icon-block {
    width: 10%;
    align-items: center;
}

/* Navigation Styles */
.navigation-block {
    position: sticky;
    top: 0;
    background: var(--bg-color);
}

.navigation-list {
    justify-content: center;
    list-style: none; /* Remove default list styling */
}

.navigation-list > li {
    display: inline-block;
    padding: 10px 20px;
    font-family: var(--font-tertiary);
    box-shadow: none; /* Default state */
}

.navigation-list > li:hover {
    box-shadow: var(--box-shadow-standard);
}

/* Gallery and Product Card Styles */
.gallery-block {
    margin: 0 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-card {
    flex-basis: 300px;
}

.product-card img {
    width: 300px;
    max-width: 100%;
    object-fit: cover;
    height: auto;
    background-color: var(--color-white);
    border: var(--border-standard);
}

/* Text and Typography Styles */
.title {
    margin: var(--spacing-standard) 0;
    font-family: var(--font-title);
    font-size: 46px;
}

.product-name,
.product-price {
    font-size: 18px;
}

.product-name {
    font-family: var(--font-primary);
}

.product-price {
    font-family: var(--font-secondary);
}

/* Footer and Social Media Styles */
footer {
    margin-top: 40px;
}

.footer-block {
    color: var(--color-black);
    padding: 23px 40px 20px 81px;
    background: var(--color-white);
    border: var(--border-standard);
}

.social-media-block {
    align-items: center;
}

.social-media-block h3 {
    font-family: var(--font-tertiary);
    font-size: 16px;
    padding-inline-end: 16px;
}

/* Copyright Styles */
.copyright_block {
    font-family: var(--font-tertiary);
}

.copyright_block h3 {
    font-size: 12px;
    color: var(--color-black);
}

/* SVG Styles */
g {
    fill: var(--color-black);
}
