header {
    width: 100%;
}

.header-block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.gallery-mechanic {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

svg {
    height: 30px ;
    width: 30px ;
    fill: black;
}

#log-in-svg {
    fill: white;
}

#pages-count {
    align-content: center;
}

.title-block {
    width: 80%;
    display: flex;
    justify-content: center;
}

.pagination-button {
    margin-top: 32px;
    padding: 8px 64px;
    border-radius: 16px;
    border: solid black 2px;
    background-color: white;
}

.pagination-button:hover {
    border-radius: 16px;
    background-color: black;
    color: white;
}


.icons-header-row-block {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-block {
    width: 100%;
    position: sticky;
    top: 0;
    background: #ffffff;
}

.gallery-block {
    margin: 0 50px;
    gap: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-block {
    color: white;
    padding: 23px 40px 20px 81px;
    background: #242424;
}

.social-media-block {
    display: flex;
    align-items: center;
}


.product-card {
    flex-basis: 300px;
}

.product-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.product-price {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

.product-card img {
    width: 300px;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.navigation-list {
    display: flex;
    justify-content: center;
}

.navigation-list > li {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}

.navigation-list > li:hover {
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
}

.social-media-block h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-inline-end: 16px;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.navigation-list a{
    color: black;
}

.copyright-block a h3{
    color: white;
}

.copyright-block h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

footer {
    margin-top: 40px;
}
