/* Global Styles */
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box; /* Ensures consistent box sizing */
}

/* Log In Block Styles */
.log-in-block {
    display: block;
    width: 500px;
    margin: 70px auto;
    box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
    padding: 48px 48px 8px;
}

/* Form Styles */
form {
    margin-bottom: 32px;
}

label {
    display: inline-block;
    text-align: right;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

input:invalid,
input:invalid:required {
    border: 2px solid red;
}

/* Input Block Styles */
.input-block {
    margin: 32px 0;
}

/* Validation Message Styles */
.validation-error-block,
.js-validation-message {
    color: red;
}

.js-validation-message {
    display: none;
}

/* Label Block Styles */
.label-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
}

.label-block p {
    margin: 0;
}

/* Forgot Password Block Styles */
.forgot-password-block {
    margin: 32px 0;
}

.forgot-password-block > a {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.forgot-password-block > a:hover {
    text-decoration: underline;
    color: #661f8b;
}

/* Button Styles */
.confirm-button {
    margin-top: 32px;
    padding: 8px 64px;
    border-radius: 16px;
    border: 2px solid black;
    background-color: white;
}

.confirm-button:hover {
    background-color: black;
    color: white;
}

/* Utility Classes */
.two-inputs-in-one-row-block {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.empty-block {
    height: 200px;
    /* !important is not recommended and should be used only if absolutely necessary */
}
